body {
    overflow-x: hidden;
}


.suft * {
    position: relative;
}

.suft {
    background-color: #E7F0FE;
    position: fixed;
    top: 40%;
    right: -240px;
    width: 240px;
    border-radius: 7px 0 0 7px;
    box-shadow: 0 0 3px 1px #78aaff inset, 0 0 0 1px #1a4a9c inset;
    z-index: 9;
    transition: linear .09s right;
}

.suft-active {
    right: 0;
}

.suft-toggle {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: -50px;
    height: 50px;
    width: 50px;
    padding: 2px;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 0 3px 0px #2c7aff inset, 0 0 0 1px #2669dd inset;
    opacity: 1;
    overflow: hidden;
    cursor: pointer;
    transition: linear .09s all;
}

.suft-active .suft-toggle {
    left: 0px;
    opacity: 0;
    pointer-events: none;
}

.toggle-button {
    background-color: transparent;
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
}

.toggle-button svg {
    height: 40px;
}

.suft-content {
    height: 100%;
    padding: 9px 14px 12px 14px;
}

.content-close {
    display: flex;
    width: 100%;
}

.close-button {
    background-color: transparent;
    margin-left: auto;
    padding: 0;
    border: none;
    cursor: pointer;
}

.suft-target-type {
    display: flex;
    margin-bottom: 12px;
}

.suft-target-type-options {
    display: flex;
    background-color: #ffffff;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightsteelblue;
    border-radius: 3px;
    overflow: hidden;
    user-select: none;
}

.suft-target-type-options label {
    margin: 0;
}

.type-option {
    position: fixed;
    opacity: 0;
    width: 0;
    height: 0;
}

.type-option-display {
    display: inline-block;
    padding: 6px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 2px #e7f0fe;
    color: #757575;
    cursor: pointer;
    transition: .05s all;
}

.type-option-display:hover {
    background-color: rgb(233, 242, 255);
    border: 1px solid #cfe1ff;
}

.type-option:checked + .type-option-display {
    background-color: #F3F8FE;
    border: 1px solid #2C7AFF;
    box-shadow: 0 0 2px #2c7aff;
    color: #256be2;
}

.suft-comment {
    width: 100%;
    margin: auto;
}

.suft-comment label {
    display: inline-block;
    width: 100%;
    padding: 0 2px;
    font-family: sans-serif;
    font-size: 12px;
    color: #616161;
}

#suft-info-comment {
    width: calc(100% - 10px);
    padding: 3px 5px;
    resize: none;
    border: 1px solid lightsteelblue;
    border-radius: 3px;
}

#suft-info-comment:focus {
    border: 1px solid #2C7AFF;
    box-shadow: 0 0 2px #2c7aff;
    outline: none;
}

.suft-priority {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 14px;
}

.suft-priority label {
    display: inline-block;
    width: 100%;
    padding: 0 2px;
    font-family: sans-serif;
    font-size: 12px;
    color: #616161;
}

#suft-info-priority {
    width: 50%;
    padding: 3px;
    border: 1px solid lightsteelblue;
    border-radius: 3px;
}

#suft-info-priority:focus {
    border: 1px solid #2C7AFF;
    box-shadow: 0 0 2px #2c7aff;
    outline: none;
}

.suft-save {
    display: flex;
}

.save-button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 6px 4px;
    background-color: #d9d9ff;
    border: 1px solid #7286a1;
    border-radius: 3px;
    box-shadow: 0px 0px 0px rgb(80, 80, 80) inset;
    transition: all .05s linear;
}

.save-button:hover {
    cursor: pointer;
}

.save-button:active {
    box-shadow: 0px 0px 2px rgb(80, 80, 80) inset;
}

.save-button svg {
    vertical-align: middle;
}


.suft-selected {
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    width: 0px;
    opacity: 0;
    z-index: 8;
    pointer-events: none;
}

.suft-selected > * {
    position: relative;
    animation: 0.4s linear infinite candy-225;
}

.suft-selected-active {
    opacity: 1;
}

.suft-selected-top {
    top: 0;
    left: 0;
    height: 3px;
    width: calc(100% + 3px);
}
.suft-selected-right {
    top: 0;
    left: 100%;
    height: calc(100% + 3px);
    width: 3px;
}
.suft-selected-bottom {
    bottom: 3px;
    left: 0;
    height: 3px;
    width: calc(100% + 3px);
}
.suft-selected-left {
    top: calc(-100% - 6px);
    left: 0;
    height: calc(100% + 3px);
    width: 3px;
}


@keyframes candy-225 {
    0% {
        background: repeating-linear-gradient(
            225deg,
            #f50c0c 0px,
            #f50c0c 10px,
            rgb(255,255,255) 10px,
            rgb(255,255,255) 20px
        );
    }
    25% {
        background: repeating-linear-gradient(
            225deg,
            rgb(255,255,255) 5px,
            rgb(255,255,255) 15px,
            #f50c0c 15px,
            #f50c0c 25px
        );
    }
    50% {
        background: repeating-linear-gradient(
            225deg,
            rgb(255,255,255) 0px,
            rgb(255,255,255) 10px,
            #f50c0c 10px,
            #f50c0c 20px
        );
    }
    75% {
        background: repeating-linear-gradient(
            225deg,
            rgb(255,255,255) 15px,
            rgb(255,255,255) 25px,
            #f50c0c 25px,
            #f50c0c 35px
        );
    }
    100% {
        background: repeating-linear-gradient(
            225deg,
            #f50c0c 20px,
            #f50c0c 30px,
            rgb(255,255,255) 30px,
            rgb(255,255,255) 40px
        );
    }
}